

.flex-container {
    display: flex;
    height: 100%;

}



.company-img{
    width: 30%;
    height: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    border-right: 10px;
    border-right-color:#000000;
    border-right-style:solid;
}

.main {
    width: 100vw;
    height: auto;
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 70%;
    height: auto;
    padding: 5px;
    p{
        color: #515151;
        font-weight: 500;
        font-size: 1.57rem;
        margin-top: 20px;
        font-style: italic;
    }

    h2 {
        margin-top: 20px;
        font-size: 4rem;
        text-align: center;
        color: #515151;
        text-decoration: underline #000000;
        text-transform: uppercase;
    }
}


@media (max-width:768px) {
   .flex-container {
    flex-direction: column;
   }

    .company-img{
    width: auto;
    border-bottom: 10px;
    border-bottom-color:#000000;
    border-bottom-style:solid;
  }

  .about{
    width: auto;
  }
}


