.card-games {
    transform: scale(1);
    transition: all 1s;
    box-shadow: 5px 5px 6px black;
    background: linear-gradient(90deg, #000018, #011f1f, #0d2134);
    
}

.card-img-overlay {
    display: none;

    .title-game{
        font-size: 3.13rem;
        text-align: center;
    }

    .btn-dark {
        font-size: 1.88rem;
        width: 30%;
    }
    
}

.card-games:hover {
    transform: scale(0.9);
    img{
        filter: brightness(0.6);
    }

    .card-img-overlay{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:768px) {
    .btn-dark{
        width:50%;
    }
}